<div style="background-color:#262626">
  <div class="container">
    <div class="row">
      <div class="footer-body">
        <div class="footer-left">
          <span>© Deutsche Telekom AG</span>
        </div>
        <div class="footer-right">
          <span>
            <a href="https://www.telekom.com/de/kontakt" target="_blank">Contact</a>
          </span>
          <span>
            <a href="#">AGB</a>
          </span>
          <span>
            <a href=" https://www.telekom.com/de/telekom/impressum-1812" target="_blank">Imprint</a>
          </span>
          <span>
            <a href=" https://www.telekom.com/de/telekom/datenschutzhinweis-1808" target="_blank">Data Privacy
              Information</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>